<screen-layout>
  <div class="w-full h-full flex justify-center items-center">
    <div
      class="bg-sky-700 p-10 flex flex-col gap-2 items-center"
      [formGroup]="formGroup"
    >
      <div class="flex flex-col gap-2">
        <label for="name" class="text-white">Name: </label>
        <input
          id="name"
          type="text"
          formControlName="name"
          class="p-1 rounded outline-none"
        />
      </div>
      <div class="flex flex-col gap-2">
        <label for="basePrice" class="text-white">Base Price: </label>
        <input
          id="basePrice"
          type="text"
          formControlName="basePrice"
          class="p-1 rounded outline-none"
        />
      </div>
      <main-btn title="Update" (onClick)="submit()"></main-btn>
    </div>
  </div>
</screen-layout>
