.divider {
  width: 25vw;
  @apply bg-black-500 min-h-screen;
}

.content {
  width: 25vw;
  @apply min-h-full;
}

.container {
  width: 75vw;
  @apply min-h-full flex;
}

.sidenav {
  min-width: 25vw;
  @apply bg-black-500 z-40 py-4 px-32 fixed top-0  flex justify-between items-center h-full;
}
