.divider {
  width: 25vw;
  @apply min-h-screen;
}

.content {
  width: 75vw;
  @apply min-h-full;
}

.container {
  @apply min-h-full flex p-5 bg-black-700;
}

.sidenav {
  width: 25vw;
  @apply bg-black-500 z-50 fixed top-0 flex flex-col h-full p-4 gap-3 overflow-auto;
}

.item_container {
  @apply flex justify-between items-center;
}

.row {
  @apply flex gap-3 items-center;
}

.details_container {
  @apply flex flex-col sticky inset-x-0 bottom-0 bg-black-900 p-10 rounded-md gap-3;
}

.header_container {
  @apply flex justify-between items-center;
}

.actions_container {
  @apply flex justify-between items-center;
}
